<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Ashwin Parate Cover letter</title>
    <style>
        * {
            font-family: 'Thoma', sans-serif;
            color: #333333;
        }

        a {
            text-decoration: none !important;
            font-size: 20px;
        }

        li,
        strong,
        p,
        a,
        address {
            font-size: 20px;
        }

        h5 {
            font-size: 22px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="border-top border-success pt-5 mt-5">
                    <strong>Ashwin Parate</strong>
                    <address>
                        <div>49, Sanchar Nagar Ext.</div>
                        <div>Kanadiya Road, Indore, 452016</div>
                        <div>(+91) 9406886514</div>
                        <div>ashwin.parate@gmail.com</div>
                    </address>
                </div>
            </div>
            <div class="col-md-10  mx-auto">
                <strong class="mt-5 mb-4 py-2">HR Manager</strong>
                <p class="mb-3">Dear Sir/Madam,</p>
                <p>I am Ashwin. I wish to apply for the position of <strong>Sr. Fullstack developer</strong>. At present I am working for <strong>Robosoft Technologies Pvt Ltd.</strong> where I am responsible for the application development, testing, maintenance, assisting/training the Jr. developers, providing time estimates, client communications, participating in interview process. I have been working as a <strong>Sr. Software Engineer for the last 6 years</strong>. My total experiance in IT industry is around <strong>8.5 years</strong>.</p>
            </div>
            <div class="col-md-10 mt-3  mx-auto">
                <p>I started my career as a Wordpress developer then I got the opportunity to work as a Frontend developer (HTML5, CSS3, Bootstrap, JS ), after that I switched to JS Frameworks like ReactJS, NextJS and NodeJS. For the last 2 years I am working on <strong>NodeJs and created RestAPI's as well as GraphQL API's</strong>. Apart from that, I have also worked on Frontend technologies like <strong>ReactJS and NextJS</strong> for around 4yrs. I am detail oriented, a fast learner and have the ability to deliver my work on time. I am solution driven while dealing with problems and conflicts. I always collaborate to meet the team’s objective.</p>
            </div>
            <div class="col-md-10 mt-3  mx-auto">
                <p>Recently, I have achieved the certifications from Apollo GraphQL community i.e <strong>Graph certified Associate</strong> and <strong>Graph certified Professional</strong>.</p>
            </div>
            <div class="col-md-10 mt-3  mx-auto"><p>Sincerely,</p></div>
    </div>
</body>

</html>