<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Ashwin Parate Resume</title>
    <style>
        body,
        h1,
        h2,
        h3,
        a {
            font-family: 'Thoma', sans-serif;
            color: #333333;
        }

        a {
            text-decoration: none !important;
            font-size: 20px;
        }

        li,
        strong,
        p {
            font-size: 20px;
        }

        h5 {
            font-size: 22px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Ashwin Parate</h1>
                <h4>Frontend Developer &ndash; Technical Lead</h4>
            </div>
            <div class="col-md-12 text-center mb-2">
                <a class="text-dark text-decoration-none" href="mailto:ashwin.r.parate@gmail.com"
                    target="_blank">ashwin.parate@gmail.com</a>
            </div>
            <div class="col-md-12 text-center pb-1">
                <div class="border-bottom border-dark">
                    <a class="text-dark text-decoration-none" href="tel:+91-9406886514" target="_blank">+(91)
                        9406886514</a>, <a class="text-dark text-decoration-none" href="tel:+91-8073797495"
                        target="_blank">+(91) 8073797495</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-2">
                <h4 class="pt-1">Professional Summary :</h4>
                <ul>
                    <li>
                        A Frontend Developer/Team Lead having more than 10 years of working experience including OTT platforms, Ticket Booking Platform, Ecommerce Application and Blog application with approx 1 year of experience in leading and managing the projects and teams.
                    </li>
                    <li>
                        Proficient with all aspects of the Software Development Life Cycle. Extensive experience of Agile and Scrum methodology to drive the complete Project.
                    </li>
                    <li>
                        Experience in building High Performance, Responsive <strong>ReactJs</strong> Applications.
                    </li>
                    <li>
                        Good understanding of <strong>Design Patterns and Design Principles</strong> and implementing the same for building web application.
                    </li>
                    <li>
                        Good understanding of <strong>Data Structure and Alogrithm</strong> and using it in application as and when required.
                    </li>
                    <li>
                        Experience in writting <strong>Unit Tests</strong> using <strong>Jest and React Testing Library</strong> and TDD.
                    </li>
                    <li>
                        Experience in writting <strong>End-to-End Tests</strong> using <strong>Playwright</strong>.
                    </li>
                    <li>
                        Experience in using <strong>TailwindCSS</strong> for creating React Application.
                    </li>
                    <li>
                        Experience in using <strong>Storybook</strong> for creating React Application.
                    </li>

                    <li>
                        Experience in creating highly accessible website using <strong>WCAG AA</strong> standard.
                    </li>
                    <li>
                        Experience in creating responsive websites using <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>SASS</strong>, <strong>Bootstrap</strong>, <strong>Javascript</strong>, <strong>Typescript</strong>, <strong>ES6</strong>, <strong>ReactJS</strong>, <strong>NextJS</strong>, <strong>Redux</strong>, <strong>Context API</strong>, <strong>Styled Components</strong>, <strong>React Query</strong>  and <strong>GraphQL</strong>.
                    </li>
                    <li>Experience in integrating <strong>Postgres SQL and MySQL</strong> with NodeJS.</li>
                    <li>Experience in creating <strong>GraphQL API's using Apollo Server and Apollo Federation</strong>.</li>
                    <li>Experience in creating Monorepo App using Nx Workspace.</li>
                    <li>
                        Experience in deploying application to <strong>AWS server</strong>.
                    </li>
                    <li>
                        Experience in Version control using <strong>Git and SVN</strong> tools.
                    </li>
                    <li>
                        Experience in working with Project Managment Tool like <strong>JIRA</strong>.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-2">
                <h4 class="pt-1">Achievements :</h4>
                <ul>
                    <li>
                        <strong>Passionate Developer Award</strong> (Robosoft Technologies).
                    </li>
                    <li>
                        Apollo certified <strong><a href="https://www.apollographql.com/tutorials/certifications/0ad4c397-2b90-4acb-8565-e0244834908c" target="_blank">Graph Developer - Associate</a></strong>
                    </li>
                    <li>
                        Apollo certified <strong><a href="https://www.apollographql.com/tutorials/certifications/899d7137-243e-4481-9326-ecbfc0247ac4" target="_blank">Graph Developer - Professional</a></strong>
                    </li>
                    <li>Achieved Linkedin Badge for <strong>HTML</strong>.</li>
                    <li>Achieved Linkedin Badge for <strong>CSS</strong>.</li>
                    <li>Achieved Linkedin Badge for <strong>ReactJS</strong>.</li>
                    <li>Achieved Linkedin Badge for <strong>Frontend Development</strong>.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-2">
                <h4 class="pt-1">Work History :</h4>
                <ul>
                    <li>
                        <strong>EtraveliGroup - Online Ticket Booking Platform</strong> <br/> <strong>URL: </strong><a href="https://www.etraveligroup.com/our-brands/" target="_blank">https://www.etraveligroup.com/our-brands/</a>
                        <br/>
                        <strong>Role: </strong> Frontend Developer (Individual Contributor) and Team Lead
                        <br/>
                        <strong>Team size: </strong> 7
                        <br/>
                        <strong>Duration: </strong> > 1.5 years
                        <br/>
                        <strong>Project Description:</strong>   
                        <br/> 
                        Etraveli Group is a world-leading tech platform for selling flights. 
                        <br/>
                        <strong>Technology Stack: </strong>
                        <br/> 
                        HTML, CSS, SASS, ReactJS, Typescript, Redux, Emotion library
                        <br/>
                        <strong>Responsibilities: </strong>
                        <ul>
                            <li>
                                Participating in the sprint planning, Quaterly plan meetings.
                            </li>
                            <li>
                                Distributing the task amongst the team and proving time estimate to the PO's.
                            </li>
                            <li>
                                Keeping track of the visibility of the upcoming features.
                            </li>
                            <li>
                                Converting the Figma designs into fully functional React components and writing unit tests as well as unit tests for the same.
                            </li>
                            <li>
                                Reviewing the PR and testing the functionalities.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>MediaCorp (Singapore) - meWatch - OTT Web Application</strong> <br/> <strong>URL: </strong><a href="https://www.mewatch.sg/" target="_blank"></a>https://www.mewatch.sg/</a>
                        <br/>
                        <strong>Role: </strong> Frontend Developer (Individual Contributor)
                        <br/>
                        <strong>Team size: </strong> 6
                        <br/>
                        <strong>Duration: </strong> 2 months
                        <br/>
                        <strong>Project Description:</strong>    
                        <br/>
                        meWATCH is a Singaporean digital video on demand service brand owned by Mediacorp. It was launched on 1 February 2013 as an over-the-top media service and an entertainment and lifestyle website Toggle.
                        <br/>
                        <strong>Technology Stack: </strong>
                        <br/> 
                        HTML, CSS, SASS, ReactJS, Typescript, ReduxJS Toolkit, Norigin-Spatial-Navigation
                        <br/>
                        <strong>Responsibilities: </strong>
                        <ul>
                            <li>
                                Gathering the requirements from the Business Analyst/Product Owner and providing the Effort Estimates.
                            </li>
                            <li>
                                Converting Figma designs into fully functional React Websites.
                            </li>
                            <li>
                                Reviewing the PR.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Discovery (U.S) - FoodNetworkKitchen - OTT Web Application</strong> <br/> <strong>URL: </strong><a href="https://www.foodnetwork.com/kitchen/classes" target="_blank">https://www.foodnetwork.com/kitchen/classes</a>
                        <br/>
                        <strong>Role: </strong> Frontend Developer (Individual Contributor)
                        <br/>
                        <strong>Team size: </strong> 3
                        <br/>
                        <strong>Duration: </strong> 1.5 year
                        <br/>
                        <strong>Project Description:</strong>    
                        <br/>
                        FoodNetworkKitchen is one the product from the Discovery Group. FNK application contains millions of classes and recipes videos, that end user can watch to create his own recipe. FNK also provides fexibility for the end user to purchase the ingredients that is required to prepare a dish. Apart from that end user can also create his own meal plan. FNK contains lot of recipes that thas been categories into various categories like Egg, Veg, Milk etc. End User can select a particular category and can see the recipe to create dish from the same ingredient. 
                        <br/>
                        <strong>Technology Stack: </strong>
                        <br/> 
                        HTML5, CSS3, Styled Components, NextJS, Context API, React Query, GraphQL Jest and RTL
                        <br/>
                        <strong>Responsibilities: </strong>
                        <ul>
                            <li>
                                Gathering the requirements from the Business Analyst/Product Owner and providing the Effort Estimates.
                            </li>
                            <li>
                                Adding Test cases as per the requirements using JEST and RTL.
                            </li>
                            <li>
                                Converting Figma designs into fully functional React Websites.
                            </li>
                            <li>
                                Using Usablenet to check the accessibility of the website and make it accessible.
                            </li>
                            <li>
                                Deploying the project to the staging and production environment.
                            </li>
                            <li>
                                Created the GraphQL API using the RESTDataSource.
                            </li>
                            <li>
                                Participated in 24X7 on-call Pager Duty rotation shifts.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Discovery (U.S) - FoodNetworkKitchen - OTT Comcast Application</strong> <br/> <strong>URL: </strong> <a href="https://cf.fnk-ctv-app.api.digitalstudios.discovery.com/" target="_blank">https://cf.fnk-ctv-app.api.digitalstudios.discovery.com/</a>
                        <br/>
                        <strong>Role: </strong> Frontend Developer (Individual Contributor)
                        <br/>
                        <strong>Team size: </strong> 3
                        <br/>
                        <strong>Duration: </strong> 1 year
                        <br/>
                        <strong>Project Description:</strong>    
                        <br/>
                        FoodNetworkKitchen is one the product from the Discovery Group. FNK application contains millions of classes and recipes videos, that end user can watch to create his own recipe. FNK also provides fexibility for the end user to purchase the ingredients that is required to prepare a dish. Apart from that end user can also create his own meal plan. FNK contains lot of recipes that thas been categories into various categories like Egg, Veg, Milk etc. End User can select a particular category and can see the recipe to create dish from the same ingredient. 
                        <br/>
                        <strong>Technology Stack: </strong>
                        <br/> 
                        HTML5, CSS3, Typescript, HTML5, Javascript, React, Luna Framework, Comcast Application
                        <br/>
                        <strong>Responsibilities: </strong>
                        <ul>
                            <li>
                                Gathering the requirements from the Business Analyst/Product Owner and providing the Effort Estimates.
                            </li>
                            <li>
                                Adding Test cases as per the requirements using JEST and RTL.
                            </li>
                            <li>
                                Converting Figma designs into fully functional Comcast Application.
                            </li>
                            <li>
                                Using Usablenet to check the accessibility of the website and make it accessible.
                            </li>
                            <li>
                                Deploying the project to the staging and production environment.
                            </li>
                            <li>
                                Participated in 24X7 on-call Pager Duty rotation shifts.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Discovery (U.S) - Magnolia - E-commerce Application</strong> <br/>  <strong>URL: </strong><a href="https://magnolia.com/" target="_blank">https://magnolia.com/</a>
                        <br/>
                        <strong>Role: </strong> Frontend Developer (Individual Contributor)
                        <br/>
                        <strong>Team size: </strong> 4
                        <br/>
                        <strong>Duration: </strong> 1 year
                        <br/>
                        <strong>Project Description:</strong>    
                        <br/>
                        Magnolia is one the product from the Discovery Group. Magnolia is only accessible from the US and US territories. Magnolia is an e-commerce website, it will showcase all the items ranging from Home Decorations to Kitchen utilites.
                        <br/>
                        <strong>Technology Stack: </strong>
                        <br/> 
                        HTML5, CSS3, Styled Components, NextJS, Context API, React Query, Jest and RTL
                        <br/>
                        <strong>Responsibilities: </strong>
                        <ul>
                            <li>
                                Gathering the requirements from the Business Analyst/Product Owner and providing the Effort Estimates.
                            </li>
                            <li>
                                Adding Test cases as per the requirements using JEST and RTL.
                            </li>
                            <li>
                                Converting Figma designs into fully functional React Websites.
                            </li>
                            <li>
                                Using Usablenet to check the accessibility of the website and make it accessible.
                            </li>
                            <li>
                                Deploying the project to the staging and production environment.
                            </li>
                            <li>
                                Participated in 24X7 on-call Pager Duty rotation shifts.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Fortiner Blog (U.S)</strong> <br/>  <strong>URL: </strong> <a href="https://www.fortinet.com/blog/ciso-collective" target="_blank">https://www.fortinet.com/blog/ciso-collective</a>
                        <br/>
                        <strong>Role: </strong> Frontend Developer (Owner)
                        <br/>
                        <strong>Team size: </strong> 1
                        <br/>
                        <strong>Duration: </strong> 6 months
                        <br/>
                        <strong>Project Description:</strong>    
                        <br/>
                        It is a blog website for the Ciso collective fortinet client. 
                        <br/>
                        <strong>Technology Stack: </strong>
                        <br/> 
                        HTML5, CSS3, Styled Components, ReactJS, Context API, React Query, Jest and RTL
                        <br/>
                        <strong>Responsibilities: </strong>
                        <br/>
                        <ul>
                            <li>
                                Gathering the requirements from the Business Analyst/Product Owner and providing the Effort Estimates.
                            </li>
                            <li>
                                Adding Test cases as per the requirements using JEST and RTL.
                            </li>
                            <li>
                                Converting Adobe XD designs into fully functional React Websites.
                            </li>
                            <li>
                                Using Usablenet to check the accessibility of the website and make it accessible.
                            </li>
                            <li>
                                Deploying the project to the staging and production environment.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>NXLVL</strong><br>
                        <strong>Role: </strong> Backend Developer
                        <br/>
                        <strong>Team size: </strong> 5
                        <br/>
                        <strong>Duration: </strong> 1 year
                        <br/>
                        <strong>Responsibilities: </strong>
                        <br/>
                        <ul>
                            <li>
                                Gathering the requirements and providing time estimates.
                            </li>
                            <li>
                                Reviewing the Code using PR.
                            </li>
                            <li>
                                Creating GraphQL API's for Frontend developers using NodeJS, Express, Apollo Federation, PostGreSQL using Prisma ORM
                            </li>
                            <li>
                                Protected the API's using JWT. Implemeted the Business logic including creation of resources, uploading images to s3 bucket.
                            </li>
                            <li>Integrated the Social Media Logins.</li>
                            <li>Worked with devops teams for CI/CD.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Takeda - HCP</strong><br>
                        <strong>Role: </strong> Nodejs Developer
                        <br/>
                        <strong>Team size: </strong> 1
                        <br/>
                        <strong>Duration: </strong> 8 months
                        <br/>
                        <strong>Responsibilities: </strong>
                        <br/>
                        <ul>
                            <li>
                                Gathering the requirements and providing time estimates.
                            </li>
                            <li>
                                Creating REST API's for Frontend developers using NodeJS, Express and MySQL together with Sequelize
ORM.
                            </li>
                            <li>
                                Protected the API's using JWT. Implmented the Business logic, including creation of resources, file upload, creation of PDF on the fly etc.
                            </li>
                            <li>Integrated Third party SSO login (Ping Federated OKTA Login).</li>
                            <li>Created PDF documents using chromium and pupeteer and the data from the database.</li>
                            <li>Deployed the Application to AWS server.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-2">
                <h4 class="pt-1">Experience :</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 pt-2 text-left">
                <h5 class="pt-1 d-inline-block">Robosoft Technologies Pvt Ltd.</h5> <strong class="d-inline-block">(Sr. Software Engineer - Remote)</strong>
            </div>
            <div class="col-md-5 pt-2 text-right">
                <h5 class="pt-1">AUG 2016 to Present</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-1">
                <strong class="pt-1">Roles and Responsibilities :</strong>
                <ul>
                    <li>
                        Gathering the requirements from Clients and/or Business Analyst.
                    </li>
                    <li>
                        Checking the feasibility of Requirements and providing the Time estimate.
                    </li>
                    <li>
                        Working with the Design Team and converting the Static Design into fully functional Responsive website.
                    </li>
                    <li>
                        Deploying the Application to the QA/Production.
                    </li>
                    <li>
                        Worked in Agile based environments with daily Scrum calls and coordination with the offshore
                        team.
                    </li>
                    <li>
                        Providing a responsive, AJAX-driven design using JavaScript libraries such as jQuery,
                        Bootstrap.js - Using Subversion (SVN) for version control.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 pt-2 text-left">
                <h5 class="pt-1 d-inline-block">Investis Digital Pvt Ltd.</h5> <strong class="d-inline-block">(Web Producer)</strong>
            </div>
            <div class="col-md-5 pt-2 text-right">
                <h5 class="pt-1">APRIL 2015 to JULY 2016</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-1">
                <strong class="pt-1">Roles and Responsibilities :</strong>
                <ul>
                    <li>
                        Gathering the requirements from Clients and reviewing the PSD Designs.
                    </li>
                    <li>
                        Checking the feasibility of Requirements and providing the Time estimate.
                    </li>
                    <li>
                        Creating fully functional and responsive websites using PSD images.
                    </li>
                    <li>
                        Deploying the application to server.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 pt-2 text-left">
                <h5 class="pt-1 d-inline-block">Openxcell Pvt Ltd.</h5> <strong class="d-inline-block">(Web Developer)</strong>
            </div>
            <div class="col-md-5 pt-2 text-right">
                <h5 class="pt-1">MARCH 2014 to MARCH 2015</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-1">
                <strong class="pt-1">Roles and Responsibilities :</strong>
                <ul>
                    <li>
                        Gathering the requirements from Clients and reviewing the PSD Designs.
                    </li>
                    <li>
                        Checking the feasibility of Requirements and providing the Time estimate.
                    </li>
                    <li>
                        Creating fully functional and responsive websites using PSD images.
                    </li>
                    <li>
                        Creating the API's for Frontend team.
                    </li>
                    <li>
                        Creating Multiuser Chat system using strope.js
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-2">
                <h4 class="pt-1">Education :</h4>
                <ul>
                    <li>
                        Bachelor of Engineering in Information Technology (with 65% aggregate) from Truba College (Indore).
                    </li>
                    <li>
                        Higher Secondary Education (with 70%) from Sanmati Higher Secondary School (Indore).
                    </li>
                    <li>
                        Secondary Education (with 75%) from Mount Carmet School (Indore).
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>